target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class

# Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Kubernetes Secrets
k8s/*secret.yaml
