server:
  port: 8090

spring:
  application:
    name: adult-care-search
  datasource:
    url: jdbc:postgresql://${DB_HOST:adult-care-db}:5432/${DB_NAME:adultcaredb}
    username: ${DB_USER:postgres}
    password: ${DB_PASS:password}
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  graphql:
    graphiql:
      enabled: true
